name: Swift

on: [push]

jobs:
  build:
    name: Swift ${{ matrix.swift }} on ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            swift: "5.10"
          - os: macos-latest
            swift: "6.0"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: swift-actions/setup-swift@v2
        if: matrix.os == 'ubuntu-latest'
        with:
          swift-version: ${{ matrix.swift }}
      - name: Show Swift version
        run: swift --version
      - uses: actions/checkout@v3
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test
